<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <title>Poll detail</title><link rel="icon" type="image/x-icon" href="{%static 'polls/images/icon/sys.ico'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'polls/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'polls/css/bootstrap-icons.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'polls/css/jquery-confirm.min.css'%}">
</head>
<body style="background: white url('{%static 'polls/images/bg/1.jpg'%}') no-repeat;margin-top:50px;">
<div class="container">
    <form method="post" action="{%url 'polls:vote' bizquestion.id%}">
        {%csrf_token%}
        <fieldset>
            <legend><h3>{{bizquestion}}</h3></legend>
        {%if error_message%}
            <p><strong class="text-warning">{{error_message}}</strong></p>
        {%endif%}
        {%for c in bizquestion.bizchoice_set.all%}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="choice" id="choice{{forloop.counter}}" value="{{c.id}}">
              <label class="form-check-label" for="choice{{forloop.counter}}">
                {{c.choice_text}}
              </label>
            </div>
        {%endfor%}
        </fieldset><br>
        <input type="submit" value="Vote" class="btn btn-danger">&nbsp;&nbsp;
        <a class="btn btn-primary" href="{%url 'polls:index'%}">Back To List</a>
    </form>
</div>
<script type="text/javascript" src="{%static 'polls/js/jquery-3.6.1.min.js'%}"></script>
<script type="text/javascript" src="{%static 'polls/js/bootstrap.bundle.min.js'%}"></script>
<script type="text/javascript" src="{%static 'polls/js/jquery-confirm.min.js'%}"></script>
<script>
    $(function(){
        //alert('OK')
    })
</script>
</body>
</html>