<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <title>Polls Upload Page</title>
    <link rel="icon" type="image/x-icon" href="{%static 'polls/images/icon/sys.ico'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'polls/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'polls/css/bootstrap-icons.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'polls/css/jquery-confirm.min.css'%}">
</head>
<body style="background: white url('{%static 'polls/images/bg/1.jpg'%}') no-repeat;margin-top:50px;">
<div class="container">
    <h3><i class="bi bi-upload"></i>&nbsp;&nbsp;Upload File</h3><br>
    <div class="row">
        <div class="col">
            <form method="post" action="{%url 'polls:upload'%}" enctype="multipart/form-data">
                {%csrf_token%}
                {{form}}
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="{%static 'polls/js/jquery-3.6.1.min.js'%}"></script>
<script type="text/javascript" src="{%static 'polls/js/bootstrap.bundle.min.js'%}"></script>
<script type="text/javascript" src="{%static 'polls/js/jquery-confirm.min.js'%}"></script>
<script>
    $(function(){
        //alert('OK')
    })
</script>
</body>
</html>